---
layout: default
---
<!-- awardsS LIST -->
<div class="ap-block">
    <p class="ap-subtitle"></p>
    {% assign sorted_awardss = site.data.awardss | sort: "order" | reverse %}
    {% for awards in sorted_awardss %}
    <div class="ap-awards">
        <p class="ap-awards-name">{{awards.name}}</p>
        <p class="ap-awards-institute">{{awards.institute}}</p>
        <p class="ap-awards-year">{{awards.year}}</p>
        <p class="ap-awards-excerpt">{{awards.excerpt}}</p>
    </div>
    {% endfor %}
</div>
