---
layout: default
---
<!-- AWARDS LIST -->
<div class="ap-block">
    <p class="ap-subtitle"></p>
    {% assign sorted_awards = site.data.awards | sort: "order" | reverse %}
    {% for awards in sorted_awards %}
    <div class="ap-awards">
        <p class="ap-awards-name">{{awards.name}}</p>
        <p class="ap-awards-excerpt">{{awards.excerpt}}</p>
        <p class="ap-awards-institute">{{awards.institute}}</p>
        <p class="ap-awards-year"><em>{{awards.year}}</em></p>
    </div>
    {% endfor %}
</div>
