---
layout: default
---
<!-- PUBLICATIONS LIST -->
<div class="ap-block">
    <p class="ap-subtitle"></p>
    {% assign sorted_publications = site.data.publications | sort: "order" %}
    {% for publication in sorted_publications %}
    <div class="ap-publication">
        <p class="ap-publication-title-list">{{publication.title}}</p>
        <p class="ap-publication-authors">{{publication.authors}}</p>
        <p class="ap-publication-venue"><em>{{publication.venue}}</em>{% if publication.note %} ({{publication.note}}){% endif %}{% if publication.award %} <strong style="color:#ff0000;"><br>({{publication.award}})</strong>{% endif %}</p>
    </div>
    {% endfor %}
</div>
